WebContent/WEB-INF/wsdl/Gateways.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	targetNamespace="http://source.webservice.gateways.payer.seda.com"
	xmlns:tns="http://source.webservice.gateways.payer.seda.com" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:sd="http://dati.webservice.gateways.payer.seda.com"
	xmlns:srv="http://srv.webservice.gateways.payer.seda.com" name="PayerGateways" >

	<wsdl:types>
		<xsd:schema targetNamespace="http://source.webservice.gateways.payer.seda.com">
			<xsd:import namespace="http://dati.webservice.gateways.payer.seda.com"
				schemaLocation="xsd/Gateways.xsd" />
			<xsd:import namespace="http://srv.webservice.gateways.payer.seda.com"
				schemaLocation="xsd/Srv.xsd" />
		</xsd:schema>
	</wsdl:types>	
		
	<wsdl:message name="IntegraGTWSincDTTRequest">
		<wsdl:part name="in" element="sd:IntegraGTWSincDTTRequest" />
	</wsdl:message>
	<wsdl:message name="IntegraGTWSincDTTResponse">
		<wsdl:part name="out" element="sd:IntegraGTWSincDTTResponse" />
	</wsdl:message>
	<wsdl:message name="AllineaAutomaticoTransazioneRequest">
		<wsdl:part name="in" element="sd:AllineaAutomaticoTransazioneRequest" />
	</wsdl:message>
	<wsdl:message name="AllineaAutomaticoTransazioneResponse">
		<wsdl:part name="out" element="sd:AllineaAutomaticoTransazioneResponse" />
	</wsdl:message>
	<wsdl:message name="AllineaAutomaticoTransazioneIGResponse">
		<wsdl:part name="out" element="sd:AllineaAutomaticoTransazioneIGResponse" />
	</wsdl:message>
	<!-- 
	<wsdl:message name="AllineaTransazioneRequest">
		<wsdl:part name="in" element="sd:AllineaTransazioneRequest" />
	</wsdl:message>
	<wsdl:message name="AllineaTransazioneResponse">
		<wsdl:part name="out" element="sd:AllineaTransazioneResponse" />
	</wsdl:message>
	 -->
	<wsdl:message name="AllineaManualeRequest">
		<wsdl:part name="in" element="sd:AllineaManualeTransazioneRequest" />
	</wsdl:message>
	<wsdl:message name="AllineaManualeResponse">
		<wsdl:part name="out" element="sd:AllineaManualeTransazioneResponse" />
	</wsdl:message>
	<!-- 
	<wsdl:message name="GeneraMessageGTWRequest">
		<wsdl:part name="in" element="sd:GeneraMessageGTWRequest" />
	</wsdl:message>
	<wsdl:message name="GeneraMessageGTWResponse">
		<wsdl:part name="out" element="sd:GeneraMessageGTWResponse" />
	</wsdl:message>
	 -->
	<wsdl:message name="IntegraGTWAsincRequest">
		<wsdl:part name="in" element="sd:IntegraGTWAsincRequest" />
	</wsdl:message>
	<wsdl:message name="IntegraGTWAsincResponse">
		<wsdl:part name="out" element="sd:IntegraGTWAsincResponse" />
	</wsdl:message>
	<wsdl:message name="IntegraGTWSincRequest">
		<wsdl:part name="in" element="sd:IntegraGTWSincRequest" />
	</wsdl:message>
	<wsdl:message name="IntegraGTWSinc_MultiEnteRequest">
		<wsdl:part name="in" element="sd:IntegraGTWSinc_MultiEnteRequest" />
	</wsdl:message>
	<wsdl:message name="IntegraGTWSincResponse">
		<wsdl:part name="out" element="sd:IntegraGTWSincResponse" />
	</wsdl:message>
	<!-- 
	<wsdl:message name="RedirectToGTWRequest">
		<wsdl:part name="in" element="sd:RedirectToGTWRequest" />
	</wsdl:message>
	<wsdl:message name="RedirectToGTWResponse">
		<wsdl:part name="out" element="sd:RedirectToGTWResponse" />
	</wsdl:message>
	 -->
	<wsdl:message name="VerificaEsitoGTWRequest">
		<wsdl:part name="in" element="sd:VerificaEsitoGTWRequest" />
	</wsdl:message>
	<wsdl:message name="VerificaEsitoGTWResponse">
		<wsdl:part name="out" element="sd:VerificaEsitoGTWResponse" />
	</wsdl:message>
	
	<wsdl:message name="RIDAdesioneRequest">
		<wsdl:part name="in" element="sd:RIDAdesioneRequest" />
	</wsdl:message>
	<wsdl:message name="RIDAdesioneRsponse">
		<wsdl:part name="out" element="sd:RIDAdesioneResponse" />
	</wsdl:message>
	<wsdl:message name="RIDRevocaRequest">
		<wsdl:part name="in" element="sd:RIDRevocaRequest" />
	</wsdl:message>
	<wsdl:message name="RIDRevocaResponse">
		<wsdl:part name="out" element="sd:RIDRevocaResponse" />
	</wsdl:message>
	<wsdl:message name="RIDVerificaStatoRequest">
		<wsdl:part name="in" element="sd:RIDVerificaStatoRequest" />
	</wsdl:message>
	<wsdl:message name="RIDVerificaStatoResponse">
		<wsdl:part name="out" element="sd:RIDVerificaStatoResponse" />
	</wsdl:message>
	<wsdl:message name="RIDAllineaRequest">
		<wsdl:part name="in" element="sd:RIDAllineaRequest" />
	</wsdl:message>
	<wsdl:message name="RIDAllineaResponse">
		<wsdl:part name="out" element="sd:RIDAllineaResponse" />
	</wsdl:message>
	<wsdl:message name="RIDAllineaArchiviazioneRequest">
		<wsdl:part name="in" element="sd:RIDAllineaArchiviazioneRequest" />
	</wsdl:message>
	<wsdl:message name="RIDAllineaArchiviazioneResponse">
		<wsdl:part name="out" element="sd:RIDAllineaArchiviazioneResponse" />
	</wsdl:message>
	
	<wsdl:message name="RichiediStornoRequest">
		<wsdl:part name="in" element="sd:RichiediStornoRequest" />
	</wsdl:message>
	<wsdl:message name="RichiediStornoResponse">
		<wsdl:part name="out" element="sd:RichiediStornoResponse" />
	</wsdl:message>
	
	<wsdl:message name="Fault">
		<wsdl:part name="fault" element="srv:Fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Empty" />
	
	<wsdl:message name="GeneraFlussiRendicontazionePosRequest">
		<wsdl:part name="in" element="sd:GeneraFlussiRendicontazionePosRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GeneraFlussiRendicontazionePosResponse">
		<wsdl:part name="out" element="sd:GeneraFlussiRendicontazionePosResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="GatewaysInterface">
		<wsdl:operation name="allineaAutomaticoTransazione">
			<wsdl:input message="tns:AllineaAutomaticoTransazioneRequest"/>
			<wsdl:output message="tns:AllineaAutomaticoTransazioneResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
		<!-- 
		<wsdl:operation name="allineaTransazione">
			<wsdl:input message="tns:AllineaTransazioneRequest" />
			<wsdl:output message="tns:AllineaTransazioneResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
		 -->
		<wsdl:operation name="allineaManualeTransazione">
			<wsdl:input message="tns:AllineaManualeRequest" />
			<wsdl:output message="tns:AllineaManualeResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
		<!-- 
		<wsdl:operation name="generaMessageGTW">
			<wsdl:input message="tns:GeneraMessageGTWRequest" />
			<wsdl:output message="tns:GeneraMessageGTWResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
		 -->
		<wsdl:operation name="integraGTWAsinc">
			<wsdl:input message="tns:IntegraGTWAsincRequest" />
			<wsdl:output message="tns:IntegraGTWAsincResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="integraGTWSinc">
			<wsdl:input message="tns:IntegraGTWSincRequest" />
			<wsdl:output message="tns:IntegraGTWSincResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="integraGTWSinc_MultiEnte">
			<wsdl:input message="tns:IntegraGTWSinc_MultiEnteRequest" />
			<wsdl:output message="tns:IntegraGTWSincResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
		<!-- 
		<wsdl:operation name="redirectToGTW">
			<wsdl:input message="tns:RedirectToGTWRequest" />
			<wsdl:output message="tns:RedirectToGTWResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
		 -->
		<wsdl:operation name="verificaEsitoGTW">
			<wsdl:input message="tns:VerificaEsitoGTWRequest" />
			<wsdl:output message="tns:VerificaEsitoGTWResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="integraGTWSincDTT">
			<wsdl:input message="tns:IntegraGTWSincDTTRequest"/>
			<wsdl:output message="tns:IntegraGTWSincDTTResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="allineaAutomaticoTransazioneIG">
			<wsdl:input message="tns:Empty" />
			<wsdl:output message="tns:AllineaAutomaticoTransazioneIGResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault" />
		</wsdl:operation>
		
		<wsdl:operation name="adesioneRID">
			<wsdl:input message="tns:RIDAdesioneRequest" />
			<wsdl:output message="tns:RIDAdesioneRsponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault" />
		</wsdl:operation>
		<wsdl:operation name="revocaRID">
			<wsdl:input message="tns:RIDRevocaRequest" />
			<wsdl:output message="tns:RIDRevocaResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault" />
		</wsdl:operation>
		<wsdl:operation name="verificaStatoRID">
			<wsdl:input message="tns:RIDVerificaStatoRequest" />
			<wsdl:output message="tns:RIDVerificaStatoResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault" />
		</wsdl:operation>
		<wsdl:operation name="allineaRID">
			<wsdl:input message="tns:RIDAllineaRequest" />
			<wsdl:output message="tns:RIDAllineaResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault" />
		</wsdl:operation>
		<wsdl:operation name="allineaRIDArchiviazione">
			<wsdl:input message="tns:RIDAllineaArchiviazioneRequest" />
			<wsdl:output message="tns:RIDAllineaArchiviazioneResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault" />
		</wsdl:operation>
		<wsdl:operation name="richiediStorno">
			<wsdl:input message="tns:RichiediStornoRequest" />
			<wsdl:output message="tns:RichiediStornoResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault" />
		</wsdl:operation>
		<wsdl:operation name="generaFlussiRendicontazionePos">
			<wsdl:input message="tns:GeneraFlussiRendicontazionePosRequest" />
			<wsdl:output message="tns:GeneraFlussiRendicontazionePosResponse" />
			<wsdl:fault name="GatewaysFaultException" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="GatewaysSOAPBinding" type="tns:GatewaysInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="allineaAutomaticoTransazione">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- 
		<wsdl:operation name="allineaTransazione">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		 -->
		<wsdl:operation name="allineaManualeTransazione">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- 
		<wsdl:operation name="generaMessageGTW">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		-->
		<wsdl:operation name="integraGTWAsinc">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="integraGTWSinc">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="integraGTWSinc_MultiEnte">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- 
		<wsdl:operation name="redirectToGTW">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		-->
		<wsdl:operation name="verificaEsitoGTW">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="integraGTWSincDTT">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="allineaAutomaticoTransazioneIG">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="adesioneRID">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="revocaRID">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="verificaStatoRID">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="allineaRID">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="allineaRIDArchiviazione">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="richiediStorno">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="generaFlussiRendicontazionePos">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GatewaysFaultException">
				<soap:fault name="GatewaysFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="GatewaysService">
		<wsdl:port binding="tns:GatewaysSOAPBinding" name="GatewaysPort">
			<soap:address location="http://10.10.80.6:8302/GatewaysService/gateways" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
